@media (max-width: $laptop) {
    //front page
    .gallery {
        max-width: 1200px;
        margin: auto;
    }
    .photos {
        gap: 70px;
    }
}


@media (max-width: 1178px) {
  //frong page
    #filter-form {
        justify-content: center;
    }
    #format {
        margin-right: 36px;
    }
    .photos {
        justify-content: center;
    }
    //single photo
    .single-photo-content {
     margin: 10px;
    }

   
    .contact-block {
        gap: 200px;
    }
    .navigation-arrows {
        margin-left: 200px;
    }
}

@media (max-width: $laptopS) {
    //front page
    .logo {
        margin-left: 5vw;
        margin-right: auto;
    }
    //single photo
    .navigation-arrows {
        display: none;
    }
    .contact-block {
        gap: 450px;
    }

    //lightbox
    .fa-solid {
        background-color: $color-black;
        border-radius: 8px;
        padding: 10px;
    }
    .lightbox-txt {
        background-color: $color-black;
    }

}


@media (max-width: $tablet) {
//front page
    body {
        h1 {
            font-size: $h1-fs-tb;
        }
    }
    .logo {
        margin-left: 20vw;
    }
    .hero {
       height: 384px;
    }
    .hero-content {
        top: 150px;
    }
    .gallery {
        margin: 0;
    }
    #filter-form {
        margin-left: 40px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 5px;
    }
    //single photo
    .single-photo-content {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }
    
    .single-photo p {
        font-size: 20px;
    }
    .single-photo h3 {
        text-align: center;
    }

    .info-photo-block {
        flex-direction: column-reverse;
    }

    .photo-block, .info-block {
        width: 100%;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }

    .photo-block img {
        width: 95%;
    }

    .info-block {
        height: auto;
    }

    .photo-details {
        margin-top: 0;
        border-bottom: none;
    }

    .ref {
        margin-bottom: 0;
    }

    .contact-block {
        flex-direction: column;
        width: 100%;
        gap: 0;
        border-top: 1px solid $color-black;
    }

    .navigation-arrows {
        display: none;
    }

    .photo-single-unit {
        flex-direction: column;
        gap: 15px;
    }

    //lightbox
    .lightbox-txt {
        display: none;
    }

   
}

@media (max-width: $mobile) {
    body {
        h1 {
            font-size: $h1-fs-mob;
        }
        h2 {
            font-size: $h2-fs-mob;
        }
    }

    .hero {
        height: 252px;
    }

    .hero-content {
        top: 100px;
    }
    .photos {
        gap: 15px;
    }
       .photo-item {
        width: 400px;
        height: 400px;
        
    }
}

@media (max-width: $mobileS) {

    .photo-item {
        width: 350px;
        height: 350px;
        
    }

}