// class open changement burger en x
.burger-menu.open span {
    transform: scale(0);
}
.burger-menu.open::before {
    top: 50%;
    transform: rotate(-45deg) translate(0,-50%);
}

.burger-menu.open::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0,50%);
}

@media (max-width: $tablet) {
    //BURGER MENU
    .burger-menu {
        display: block;
        position: absolute;
        width: 27.42px;
        height: 18.85px;
        top: 27px;
        z-index: 3;
        right: 20px;
        cursor: pointer;
    }
    .burger-menu span {
        position: absolute;
        background-color: $color-black;
        width: 100%;
        left: 0;
        height: 1px;
        top: 9.42px;
    }
    .burger-menu:before,
    .burger-menu:after {
        content: '';
        background-color: $color-black;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
    }
    .burger-menu:before {
        top: 0;
    }
    .burger-menu:after {
        bottom: 0;
    }
    .nav {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 72px;
        left: 100vw; 
        gap: 18px;
        width: 100%;
        height: 100%;
        background-color: $primary-red;
        transition: left 0.3s ease-in-out;
    }
    .contact-btn {
        align-self: center;
    }
    .nav.active {
        left: 0;
    }
    #main ul {
        flex-direction: column;
        padding-left: 0;
    }
    #main ul li {
        padding-bottom: 20px;
    }
    .primary-menu-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 72px;
        background-color: white;
        z-index: 2;
    }
    .logo {
        position: relative;
        width: 30%; /* Adjust the width as needed for responsiveness */
        height: auto; /* Maintain aspect ratio */
        margin-left: auto;
        margin-right: auto;
        z-index: 3;
        left: 0;
        transform: translateX(-50%);
    }
    #main ul li a {
        font-size: 44px;
        color: #fff;
    }
    #contactBtn {
        font-size: 44px;
        color: #fff;
        margin-top: -40px;
    }
}
