.filter-wrapper {
    margin-top: 80px;
    margin-bottom: 40px;
}

#filter-form {
    display: flex;
    justify-content: flex-start;
    gap: 36px;
}

.format {
    margin-right: 300px;
}

.dropdown-box {
    width: 260px !important;
    height: 42px !important;
    border-radius: 8px !important;
    text-transform: uppercase;
    padding-left: 10px;
}

.dropdown-box  option:not(:first-child) {
   text-transform: none !important;
   font-family: $ff-poppins;
}


