.filter-wrapper {
    margin-top: 80px;
    margin-bottom: 40px;
}

//custom dropdown

.custom-dropdown {
    display: flex;
    flex-direction: row;
}
.dropdown-btn {
    position: relative;
    width: 260px;
    height: 42px;
    border-radius: 8px;
    text-transform: uppercase;
    padding-left: 15px;
    text-align: left;
    background: white;
    border: 0.5px solid grey;
    cursor: pointer;
}
.dropdown-btn:focus {
    border-color: blue;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown-btn::after {
    content: "";
    position: absolute;
    top: 25%;
    right: 15px;
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    pointer-events: none; /* Prevent the arrow from interfering with button clicks */
    z-index: 15;
}

.dropdown-btn.up::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 15px;
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(225deg);
    pointer-events: none; /* Prevent the arrow from interfering with button clicks */
    z-index: 15;
}

.dropdown-filter {
    position: relative;
}

.dropdown-list {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    background: white;
    overflow: hidden;
    border-radius: 8px;
    width: 260px;
    z-index: 100;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

    .dropdown-open {
    display: block;

}

.dropdown-list .dropdown-list-item:first-child {
    display: block;
    background: white;
    color: white;
}


.dropdown-list-item {
    margin: 0;
    cursor: pointer;
    font-family: $ff-poppins;
    text-align: left;
    padding: 10px 15px;
}

.dropdown-list-item:hover {
    background: $tertiary-red;
}

.dropdown-list-item:active {
    background: $secondary-red;
}

.dropdown-list-item.clicked {
    color: white;
    background: $primary-red;
}

#categorie {
    margin-right: 36px;
}

#format {
    margin-right: 320px;
}

.custom-dropdown {
    margin-top: 80px;
    margin-bottom: 40px;
}
