//desktop fonts etc
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;


    h1 {
        font-family: $ff-space-mono;
        font-style: italic;
        font-weight: $fw-bold;
        font-size: $h1-fs-dt;
        color: transparent;
        -webkit-text-stroke: 2px white;
        padding-top: 350px;
       
    }
    
    h2 {
        font-family: $ff-space-mono;
        font-style: italic;
        font-weight: $fw-regular;
        font-size: $h2-fs-dt;
    }
    h3 {
        font-family: $ff-space-mono;
        font-weight: $fw-regular;
        font-size: $h3-fs;
    }
    p {
        font-family: $ff-poppins;
        font-weight: $fw-light;
        font-size: $p-fs;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1;
        top: 0;
        left: 0;
        height: auto;
        z-index: 1;
        height: fit-content;
    }
}

    .entry-title {
        display: none;
    }


.btn {
    width: 272px;
    height: 50px;
    background-color: $color-light-grey;
    font-family: $ff-space-mono;
    font-size: 12px;
    border: none;
    cursor: pointer;
}


/* banniere */

/* Ensure front-page-body appears below the banner */
.front-page-body {
    //margin-top: 962px; /* Same height as .banner */
    position: relative;
    z-index: 1;
}

.hero {
    position: relative;
    background-size: cover !important;
    height: 962px !important;
    background-position: center !important;
    text-align: center;
    }


    #load-more {
        align-self: center;
       
    }