//desktop fonts etc
body {
    margin: 0 auto;

    h1 {
        font-family: $ff-space-mono;
        font-style: italic;
        font-weight: $fw-bold;
        font-size: $h1-fs-dt;
    }
    h2 {
        font-family: $ff-space-mono;
        font-style: italic;
        font-weight: $fw-regular;
        font-size: $h2-fs-dt;
    }
    h3 {
        font-family: $ff-space-mono;
        font-weight: $fw-regular;
        font-size: $h3-fs;
    }
    p {
        font-family: $ff-poppins;
        font-weight: $fw-light;
        font-size: $p-fs;
    }
}

.entry-title {
    display: none;
}



//banniere
// .banner-img {
//     width: 1440px;
//     max-width: 1440px;
//     height: 962px;
//     margin: 0;
//     padding: 0;
// }