body {
    margin: 0 auto;

    h1 {
        font-family: $body-header-font;
        font-style: $body-h1-h2-style;
        font-weight: 700;
        font-size: 96px;
    }
    h2 {
        font-family: $body-header-font;
        font-style: $body-h1-h2-style;
        font-weight: 400;
        font-size: 66px;
    }
    h3 {
        font-family: $body-header-font;
        font-weight: 400;
        font-size: 18px;
    }
    p {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
    }
}



//banniere
.banner-img {
    width: 1440px;
    max-width: 1440px;
    height: 962px;
    margin: 0;
    padding: 0;
}