//general style for all ul li
#main,
#footer {
    ul {
        display: flex;
        flex-direction: row;
        li {
            text-transform: uppercase;
            list-style-type: none;
            margin-left: 1.56vw; //22.5px
            margin-right: 1.56vw;
            a {
                text-decoration: none;
                color: black;
                font-family: $ff-space-mono;
                font-weight: $fw-regular;
                font-size: 16px;
                white-space: nowrap;
            }
        }
    }
}


 #contactBtn {
    text-transform: uppercase;
    list-style-type: none;
    margin-left: 1.56vw; //22.5px
    margin-right: 1.56vw;
    text-decoration: none;
    color: black;
    font-family: $ff-space-mono;
    font-weight: $fw-regular;
    font-size: 16px;
    cursor: pointer;
}
 

//main menu
#main {
    width: 100%;
    max-width: 1440px;
   // margin-right: 146px;
    //margin-right: 10.14vw;
}
.primary-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    max-width: 1440px;
    height: 80px;
   // margin: 0 auto; //to verify
}

.logo {
   margin-left: 10.27vw;
   margin-right: 38vw;
    
}

.nav {
    display: flex;
    z-index: 900;
}
//footer-menu
#footer-menu {
    width: 100%;
    max-width: 1440px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $color-black;
}


body.lock {
    overflow: hidden;
    max-height: 100vh;
}


//effet ombre single photo
.photo-template-default .primary-menu-wrapper {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
}



