//general style for all ul li
#main,
#footer {
    ul {
        display: flex;
        flex-direction: row;
        li {
            text-transform: uppercase;
            list-style-type: none;
            margin-left: 1.56vw; //22.5px
            margin-right: 1.56vw;
            a {
                text-decoration: none;
                color: black;
                font-family: $ff-space-mono;
                font-weight: $fw-regular;
                font-size: 16px;
                white-space: nowrap;
            }
        }
    }
}

.contact-btn p {
    text-transform: uppercase;
    list-style-type: none;
    margin-left: 1.56vw; //22.5px
    margin-right: 1.56vw;
    text-decoration: none;
    color: black;
    font-family: $ff-space-mono;
    font-weight: $fw-regular;
    font-size: 16px;
    cursor: pointer;
}
 

//main menu
#main {
    width: 100%;
    max-width: 1440px;
   // margin-right: 146px;
  //  margin-right: 10.14vw;
}
.primary-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
   // gap: 634px; // adjust later
    gap: 44.3vh; // adjust later
    max-width: 1440px;
    height: 80px;
   // margin: 0 auto; //to verify
}

.primary-menu-wrapper img {
    //margin-left: 148px;
    margin-left: 10.27vw;
}
.primary-menu-wrapper .nav {
    display: flex;
}
//footer-menu
#footer-menu {
    width: 100%;
    max-width: 1440px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}







