.photo-thumbnail img {
    width: 564px !important;
    object-fit: cover;
}
.other-photos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.related-photo img {
    width: 564px !important;
    object-fit: cover;

}