.photo-thumbnail img {
    width: 564px !important;
    object-fit: cover;
}
.other-photos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.related-photo img {
    width: 564px !important;
    object-fit: cover;

}
.custom-header {
background-size: cover;
background-position: center;
height: 962px;
display: flex;
justify-content: center;
align-items: center;
}

.custom-header img {
    object-fit: cover;
}