.single-photo {
    max-width: 1440px;
    width: 100%;
    height: 1761px;
    margin: 0 auto;
}

.single-photo {
    h2 {
        display: inline-block;
        text-transform: uppercase;
        margin: 0;
        width: 300px;
       // width: 250px;
    }
    h3  {
        text-transform: uppercase;
    }

p {
    font-family: $ff-space-mono;
    text-transform: uppercase;
    font-size: $photo-descr-fs;
    font-weight: $fw-regular;

}
}

.single-photo-content {
    display: flex;
    flex-direction: column;
    margin-left: 10.27vh;
    
}

.info-photo-block {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}
.ref {
    margin-bottom: 61px;
}
.info-block, 
.photo-block {
    height: 883px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 47.5%;
   // gap: 5%
  }

//   .info-block {
//     width: 564px;
//     //width: 40%
//     }
//   .photo-block {
//     width: 563px;
//     //width: 50%;
 
//   }
// enlevement de CAPS sur le text dans le contact box
.photo-text {
    text-transform: none !important;
    font-family: $ff-poppins !important;
    font-size: 14px !important;
}

.photo-details{
    margin-top: 555px;
    border-bottom: 1px solid $color-black;
}


.photo-block img {
    //margin-top: 50px;
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

.contact-block {
    margin-top: 0;
    height: 118px; /* Fixed height */
    display: flex;
    align-items: center; /* Center items vertically */
    //padding: 0 20px; /* Optional padding */
    border-bottom: 1px solid $color-black;
    gap: 150px;
}



.previous,
.next {
    position: relative;
}

//arrows
.navigation-arrows {
    margin-left: 430px;
  }
.arrows {
    width: 25px;
    position: absolute;
    top: 30px;
}
//position des fleches
.arrow-left {
    left: -30px;
}
.arrow-right {
    left: 30px;
}


.preview {
    opacity: 0 !important; 
    position: absolute;
    top: -50px;
    left: -27px;
}
.previous:hover .preview, 
.next:hover .preview {
    opacity: 1 !important; 
}

.other-photos {
    display: flex;
    flex-direction: column !important;
}