$body-header-font: "Space Mono", monospace;
$body-h1-h2-style: italic;

//declaration des couleurs
$primary-red: #E00000;
$secondary-red: #FE5858;
$tertiary-red: #FFD6D6;
$black: #0000;
$grey: #D8D8D8;
$dark-grey: #C4C4C4;
$light-grey: #E5E5E5;
$dark-blue:#313144;



